* {
  margin: 0;
}

:root {
  --black: #1f1f23;
  --gray: #e0e0e5;
  --bg-body: #121214;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-body);
}

main {
  background: url(images/background.svg);
  background-position: 0 -1rem;
  width: 375px;
  margin-block: auto;
  border-radius: 0.5rem;
}

.container {
  max-width: 250px;
  padding: 0.5rem;
  margin-inline: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 5.4rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

a {
  color: var(--gray);
  margin-top: 0.25rem;
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 1rem;
}

ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

ul li img {
  border-radius: 0.5rem;
  cursor: pointer;
  width: 3rem;
}